# Blackboard UserDirectoryProvider configuration

# The organization for this provider
org.opencastproject.userdirectory.blackboard.org=mh_default_org

# The URL and login details for the Blackboard server
org.opencastproject.userdirectory.blackboard.url=http://localhost:9876/
org.opencastproject.userdirectory.blackboard.appkey=CHANGE_ME
org.opencastproject.userdirectory.blackboard.secret=CHANGE_ME

# The maximum number of users to cache
#org.opencastproject.userdirectory.blackboard.cache.size=1000

# The maximum number of minutes to cache a user
#org.opencastproject.userdirectory.blackboard.cache.expiration=60

# The maximum number of course ids to cache
#org.opencastproject.userdirectory.blackboard.cache.size=5000

# The maximum number of minutes to cache a course id
#org.opencastproject.userdirectory.blackboard.cache.expiration=525600

# Optional regexp for matching Blackboard Site IDs (UUID).
#org.opencastproject.userdirectory.blackboard.site.pattern=^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$

# Optional comma-separated list of Blackboard roles which are mapped to Instructor role suffix in Opencast
#org.opencastproject.userdirectory.blackboard.instructor.roles=Instructor,Site owner,maintain
